@model IEnumerable<ProjectA.Models.Entertainment.Actor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ActorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Movie.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Born)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KnownFor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonalDetails)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ActorId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Movie.Genre)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Born)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KnownFor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonalDetails)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ActorId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ActorId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ActorId })
        </td>
    </tr>
}

</table>
